img {
  border: 10px solid purple;
}

button {
  margin-top: 8px;
}

.test {
  border: 3px solid red;
}

.title {
  background-color: lightseagreen;
  padding: 10px;
}

.page {
  padding: 10px 0;
}

.res {
  background-color: pink;
  padding: 0 10px;
  color: blue;
}
